<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org/">
<head th:replace="fragments :: head"></head>
<body class="container">

<header th:replace="fragments :: header"></header>

<form method="post">
    <div class="form-group">
            <input type="hidden" th:field="${vehicleTool.vehicle}">
        <select th:field="${vehicleTool.tool}">
            <option th:each="tool : ${tools}"
                    th:value="${tool.id}"
                    th:text="${tool.name}"
                    ></option>
        </select>
    </div>
    <input type="submit" class="btn btn-success" value="Add Tool">
</form>

</body>
</html>