<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org/">
<head th:replace="fragments :: head"></head>
<body class="container">

<header th:replace="fragments :: header"></header>

<table class="table table-striped">
    <tr>
        <th>ID</th>
        <td th:text="${part.id}"></td>
    </tr>
    <tr>
        <th>Description</th>
        <td th:text="${part.description}"></td>
    </tr>
    <tr>
        <th>Type</th>
        <td th:text="${part.partType.partType}"></td>
    </tr>
</table>


</body>
</html>