<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org/">
<head th:replace="fragments :: head"></head>
<body class="container">

<!--<h1>Magnolia Inventory</h1>-->

<header th:replace="fragments :: header"></header>

<table class="table table-striped">
    <thead>
    <tr>
        <th>Part Name</th>
    </tr>
    </thead>
    <tr th:each="part : ${parts}">
        <td><a class="header-link" th:href="'/parts/detail?partId=' + ${part.id}" th:text="${part.name}"></a></td>
    </tr>
</table>

</br>

<table class="table table-striped">
    <thead>
    <tr>
        <th>Referenced Part Name</th>
        <th>Reference Number</th>
    </tr>
    </thead>
    <tr th:each="rpart : ${rparts}">
        <td><a class="header-link" th:href="'/parts/rdetail?referencedPartId=' + ${rpart.id}" th:text="${rpart.name}"></a></td>
        <td th:text="${rpart.referenceNumber}"></td>
    </tr>
</table>

</body>
</html>